.top-header {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.top-header a:link:hover, .top-header a.visited:hover {
    text-decoration: underline;
}

.top-header a {
    text-decoration: none;
    box-shadow: none !important;
}

.top-header a:link {
    color: #ffffff;
}

.top-header a:visited {
    color: #ffffff;
}

.floating-links {
    float: right;
}

.floating-links > a {
    margin-left: 15px;
}